@use '../abstracts/colours' as c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: c.$cream;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    margin-inline: 1rem;
}