@use '../abstracts/colours' as c;
@use '../abstracts/variables' as v;

.balance {
    background-color: c.$soft-red;
    display: flex;
    justify-content: space-between;
    padding: v.$padding;
    margin-bottom: 1rem;
    border-radius: v.$border-radius;

    div p {
        color: c.$cream;
        margin-bottom: .5rem;
    }

    div h1 {
        color: c.$very-pale-orange;
    }
}